<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <a href="/"> Home </a>
    <a href="/squad"> Squad </a>
    <a href="/film"> Film </a>

  <h2 class="about-tit"> About FixedLatinos </h2>
  <p class="about-data"> <strong>Fuck With Us Bihhh</strong> </p>

<div class="about-cont">

  <h4> We are here to fuck shit up. nigggaaaaa!</h4>

  <p class="about-data"> But most importantly, we are a Squad that resides in Miami, FL. <br><br> Our Squad,
    consists of strong individuals who are die-hard, fearless and shred the streets of <br><br>
    <strong>The 305</strong>. </p>


</div>





  </body>
</html>
