<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Fixed Latinos</title>

    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <a href="/"> Home </a>

  <h2> Fuck with us </h2>
  <p> We are here to fuck shit up. nigggaaaaa! </p>







  </body>
</html>
