<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>


<script type="text/javascript">
$('#filmVideo').on('hidden.bs.modal', function () {
    $("#filmVideo iframe").attr("src", $("#filmVideo iframe").attr("src"));
});
</script>

<div class="x-bg">
  <h1 class="x-txt"> Video Gallery </h1>
</div>





<div class="card-deck" style="margin-top:2em;">
  <div class="col-md-3">
    <div class="card border-info" style="width: 21rem;">
      <img class="card-img-top" src="images/video4-cover.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Canones Suletos (8th ST)</h5>
        <p class="card-text">Street Race - Point A to B</p>
      </div>
      <div class="card-footer">
        <button type="button" data-target="#video4" data-toggle="modal" class="btn btn-primary">Video</button>
      </div>
    </div>
    <!-- THE MODAL -->
    <div class="modal fade bd-example-modal-lg" id="video4" tabindex="-1" role="dialog" aria-labelledby="video4Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="video4Label">Driver: Panda</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button
          <div class="modal-body" id="yt-player">
            <iframe id="filmVideo" width="660" height="515" src="https://www.youtube.com/embed/D3a5WyWncSk" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="card border-info" style="width: 21rem;">
      <img class="card-img-top" src="images/video1-cover.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Ultra CAT (03/2017)</h5>
        <p class="card-text">Ultra Weekend Race</p>
      </div>
      <div class="card-footer">
        <button type="button" data-target="#video1" data-toggle="modal" class="btn btn-primary">Video</button>
      </div>
    </div>
    <!-- THE MODAL -->
    <div class="modal fade bd-example-modal-lg" id="video1" tabindex="-1" role="dialog" aria-labelledby="video1Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="video1Label">Driver: Raven</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button
          <div class="modal-body" id="yt-player">
            <iframe id="" width="650" height="515" src="https://www.youtube.com/embed/zJcB2DMz-qQ" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="card border-info" style="width: 21rem;">
      <img class="card-img-top" src="images/video2-cover.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Canones Suletos (Brickell)</h5>
        <p class="card-text">Street Race - Point A to B</p>
      </div>
      <div class="card-footer">
        <button type="button" data-target="#video2" data-toggle="modal" class="btn btn-primary">Video</button>
      </div>
    </div>
    <!-- THE MODAL -->
    <div class="modal fade bd-example-modal-lg" id="video2" tabindex="-1" role="dialog" aria-labelledby="video2Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="video2Label">Driver: Kevin</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button
          <div class="modal-body" id="yt-player">
            <iframe id="" width="660" height="515" src="https://www.youtube.com/embed/4wF7xnGak48" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="card border-info" style="width: 21rem;">
      <img class="card-img-top" src="images/video2-cover.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pizza CAT</h5>
        <p class="card-text">Orlando Race</p>
      </div>
      <div class="card-footer">
        <button type="button" data-target="#video3" data-toggle="modal" class="btn btn-primary">Video</button>
      </div>
    </div>
    <!-- THE MODAL -->
    <div class="modal fade bd-example-modal-lg" id="video3" tabindex="-1" role="dialog" aria-labelledby="video3Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="video3Label">Driver: Kevin</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button
          <div class="modal-body" id="yt-player">
            <iframe id="" width="660" height="515" src="https://www.youtube.com/embed/7kpiGc7WzQA" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-3">
    <div class="card border-info" style="width: 21rem;">
      <img class="card-img-top" src="images/max-deliveries.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Max Running Deliveries w/ Kyle</h5>
        <p class="card-text">Deliveries</p>
      </div>
      <div class="card-footer">
        <button type="button" data-target="#video3" data-toggle="modal" class="btn btn-primary">Video</button>
      </div>
    </div>
    <!-- THE MODAL -->
    <div class="modal fade bd-example-modal-lg" id="video3" tabindex="-1" role="dialog" aria-labelledby="video3Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="video3Label">Driver: Max & Kyle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button
          <div class="modal-body" id="yt-player">
            <iframe id="" width="660" height="515" src="https://www.youtube.com/embed/3do9BvDeBYw" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="card border-info" style="width: 21rem;">
      <img class="card-img-top" src="images/max-deliveries.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">David @ Wynwood Cryt</h5>
        <p class="card-text">Wynwood Cryt</p>
      </div>
      <div class="card-footer">
        <button type="button" data-target="#video5" data-toggle="modal" class="btn btn-primary">Video</button>
      </div>
    </div>
    <!-- THE MODAL -->
    <div class="modal fade bd-example-modal-lg" id="video5" tabindex="-1" role="dialog" aria-labelledby="video5Label" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="video5Label">Driver: David</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button
          <div class="modal-body" id="yt-player">
            <iframe id="" width="660" height="515" src="https://www.youtube.com/embed/-peZayJmQrg" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Videos ^^ end here -->





<style>
  @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

  body {
    background-image: url("images/sativa.png") !important;
  }

  footer {
    display: none;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url = $("#filmVideo").attr('src');

    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#myModal").on('hide.bs.modal', function() {
      $("#filmVideo").attr('src', '');
    });

    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed again */
    $("#myModal").on('show.bs.modal', function() {
      $("#filmVideo").attr('src', url);
    });
  });
</script>
