<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/jquery-1.11.2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</script>

<style type="text/css">
  .bs-example2 {
    margin: 20px;
  }

  .modal-content2 iframe {
    margin: 0 auto;
    display: block;
  }
</style>




<div class="film-header">
  <h2 style="font-family:'Permanent Marker', cursive; font-size:30px;"> Enjoy some of our Videos! </h2>
</div>



<div style="clear:both;"></div>
<div id="portfolio">




  <div class="tile scale-anm mod-hd">
    <a data-toggle="modal" href="#myModal-canons">
      <img src="images/video4-cover.png" alt="4">
    </a>
  </div>
  <div class="bs-example2">
    <div id="myModal-canons" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content2">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 15px;">Close</button>
            <h4 class="modal-title">Canones Suletos (8th ST)</h4>
            <ul style="text-align:center;">
              <li> Driver: Panda </li>
              <li> Edited By: Anwar </li>
            </ul>
          </div>
          <div class="modal-body">
            <iframe id="filmVideo" width="660" height="515" src="https://www.youtube.com/embed/D3a5WyWncSk" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="tile scale-anm mod-hd">
    <a data-toggle="modal" href="#myModal-raven">
        <img src="images/video1-cover.png" alt="1" />
      </a>
  </div>
  <div class="bs-example2">
    <div id="myModal-raven" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content2">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
            <h4 class="modal-title"> Ultra CAT (03/2017) </h4>
            <ul style="text-align:center;">
              <li> Driver: Raven </li>
              <li> Edited By: Anwar </li>
            </ul>
          </div>
          <div class="modal-body">
            <iframe id="" width="650" height="515" src="https://www.youtube.com/embed/zJcB2DMz-qQ" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tile scale-anm mod-hd">
    <a data-toggle="modal" href="#myModal-brick">
          <img src="images/video2-cover.png" alt="2" />
        </a>
  </div>
  <div class="bs-example2">
    <div id="myModal-brick" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content2">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 15px;">Close</button>
            <h4 class="modal-title">Canones Suletos (Brickell)</h4>
            <ul style="text-align:center;">
              <li> Driver: Kevin </li>
              <li> Edited By: Kevin </li>
            </ul>
          </div>
          <div class="modal-body">
            <iframe id="" width="660" height="515" src="https://www.youtube.com/embed/4wF7xnGak48" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="tile scale-anm mod-hd">
    <a data-toggle="modal" href="#myModal-pizza">
          <img src="images/video3-cover.png" alt="3" />
        </a>
  </div>
  <div class="bs-example2">
    <div id="myModal-pizza" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content2">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 15px;">Close</button>
            <h4 class="modal-title">Pizza CAT</h4>
            <ul style="text-align:center;">
              <li> Driver: Kevin </li>
              <li> Edited By: Kevin </li>
            </ul>
          </div>
          <div class="modal-body">
            <iframe id="" width="660" height="515" src="https://www.youtube.com/embed/7kpiGc7WzQA" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="tile scale-anm mod-hd">
    <a data-toggle="modal" href="#myModal-max-deliveries">
        <img src="images/max-deliveries.png" alt="3" />
      </a>
  </div>
  <div class="bs-example2">
    <div id="myModal-max-deliveries" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content2">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 15px;">Close</button>
            <h4 class="modal-title">Max Running Deliveries w/ Kyle</h4>
            <ul style="text-align:center;">
              <li> Driver: Max & Kyle </li>
              <li> Edited By: Max </li>
            </ul>
          </div>
          <div class="modal-body">
            <iframe id="" width="660" height="515" src="https://www.youtube.com/embed/3do9BvDeBYw" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="tile scale-anm mod-hd">
    <a data-toggle="modal" href="#myModal-David-WynwoodCryt">
    <img src="images/video5-cover.png" alt="5" />
  </a>
  </div>
  <div class="bs-example2">
    <div id="myModal-David-WynwoodCryt" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content2">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top: 15px;">Close</button>
            <h4 class="modal-title">David @ Wynwood Cryt</h4>
            <ul style="text-align:center;">
              <li> Driver: David </li>
              <li> Edited By: Anwar </li>
            </ul>
          </div>
          <div class="modal-body">
            <iframe id="" width="660" height="515" src="https://www.youtube.com/embed/-peZayJmQrg" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Videos ^^ end here -->





<style>
  @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

  body {
    background-image: url("images/sativa.png") !important;
  }

  footer {
    display: none;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
    /* Get iframe src attribute value i.e. YouTube video url
    and store it in a variable */
    var url = $("#filmVideo").attr('src');

    /* Assign empty url value to the iframe src attribute when
    modal hide, which stop the video playing */
    $("#myModal").on('hide.bs.modal', function() {
      $("#filmVideo").attr('src', '');
    });

    /* Assign the initially stored url back to the iframe src
    attribute when modal is displayed again */
    $("#myModal").on('show.bs.modal', function() {
      $("#filmVideo").attr('src', url);
    });
  });
</script>
