<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>

  </body>
</html>

<nav>
  <a href="/"> Home </a>
  <a href="/about"> About </a>
  <a href="/squad"> Squad </a>
  <a href="/film"> Film </a>
</nav>

<div class="home-cont">



<a href="/squad"><img class="logo" src="/images/logo.jpg"> </a>

<p>~!*^-Welcome to the Gnarliest Fixed Squad-^*!~</p>
</div>

<!-- <div class="container"> -->

<!-- <% if(typeof currentUser === 'object') { %> -->
            <!-- If we got the logged in user variable  -->
  <!-- <p> Hello, <%= currentUser.username%>! </p>
<% } else { %> -->


        <!-- If we DIDNT GET the logged in user variable -->
    <!-- <h3> Why dont you log in!? </h3>
    <a href="/login"> <b>Log In NOW! </a></br>
<% } %>

</div> -->
