<link rel="stylesheet" href="css/style.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
<link href="css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css"/>
<link href="css/theme.css" media="all" rel="stylesheet" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/uplds/sortable.js"></script>
<script src="js/uplds/fileinput.js"></script>
<script src="js/uplds/fa-theme.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" type="text/javascript"></script>



<div class="members-rules">
  <h1 style="color:sandybrown;"> Keep in mind </h1>
  <ul class="members">
    <li> Only images of .jpg, .jpeg and/or .png are allowed. </li>
    <li> You're able to preview the image before uploading. </li>
    <li> Over time, images we'll be replaced in order to make space </li>
  </ul>
</div>


<h1 style="color:white;margin-left:5%;margin-top:2em;"> Photo Gallery Uploads </h1>

<form enctype="multipart/form-data">
    <div class="file-loading">
        <input id="kv-explorer" type="file" multiple>
    </div>
    <br>
    <div class="file-loading">
        <input id="file-0a" class="file" type="file" multiple data-min-file-count="1">
    </div>
    <br>
    <button style="margin-left:5%;" type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>
</form>


<br>
<br>
<br>

<hr style="background-color:salmon;width:28%;"> <br>

<h1 style="color:white;margin-left:5%;margin-top:2em;"> Video Gallery Uploads </h1>
<form enctype="multipart/form-data">
    <div class="file-loading">
        <input id="kv-explorer" type="file" multiple>
    </div>
    <br>
    <div class="file-loading">
        <input id="file-0a" class="file" type="file" multiple data-min-file-count="1">
    </div>
    <br>
    <button style="margin-left:5%;" type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-default">Reset</button>
</form>

<style>

footer {
	display: none;
}
</style>
