<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>



 <!-- <div class="members-rules">
  <h1 style="color:sandybrown;"> Keep in mind </h1>
  <ul class="members">
    <li> Only images of .jpg, .jpeg and/or .png are allowed. </li>
    <li> You're able to preview the image before uploading. </li>
    <li> Over time, images we'll be replaced in order to make space </li>
  </ul>
</div> -->


<h1 style="text-align:center;;margin-top:2em;"> Control Pannel </h1>




</div>
<header>
  <h1 style="text-align:left;">Upload Photo</h1>
  <span>ID: FixedLatino</span>
</header>

<form action="/members" method="POST" enctype="multipart/form-data">

  <input type="text" name="" placeholder="Title"> <br><br>

  <input type="file" name="file" multiple>
  <fieldset class="active">
  <select id="category">
    <option value="all">All</option>
    <option value="bikes">Bikes</option>
    <option value="events">Events</option>
    <option value="homies">Homies</option>
  </select>
  </fieldset>

  <br>
  <textarea id="textarea"></textarea> <br>
  <button class="btn-success" type="submit" value="Upload Image">Submit</button
</form>




<!-- <div class="wrapper">
    <header>
      <h1 style="text-align:center;">Upload Photo</h1>
      <span>ID: FixedLatino</span>
    </header>

    <div class="ways">
      <ul>
        <li class="active">
          photo
        </li>
        <li>
          video
        </li>
      </ul>
    </div>

    <div class="sections">

      <section class="active">
        <input type="text" placeholder="Title" id="title"/>
        <select id="category">
          <option value="all">All</option>
          <option value="bikes">Bikes</option>
          <option value="events">Events</option>
          <option value="homies">Homies</option>
        </select>

        <div class="select-option">
          <div class="head">Category</div>
          <div class="option"></div>
        </div>


        <div class="images">
          <div class="pic">
            add
          </div>
        </div>


      </section>

      <section>
        <input type="text" placeholder="Topic" id="topic"/>
        <textarea placeholder="something..." id="msg"></textarea>
      </section>

    </div>

    <div class="members-footer">
      <ul>
        <li><span id="reset">Reset</span></li>
        <li><span id="send">Send</span></li>
      </ul>
    </div>
</div>

<div class="notification"></div> -->







<style>

footer {
	display: none;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("images/sativa.png") !important;

}
</style>
