<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
  <body>



<!-- Team starts here -->

<div class="x-bg">
  <h1 class="x-txt"> Team Squad </h1>
</div>






<div class="row">
  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="tommy-bike" src="images/bikes/me.jpg">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/me-head.png" alt="" style="width:48%;">
          <ul class="facts">
            <h2 class="name">Tommy </h2>
            <p><strong style="font-family:cursive;">Age: </strong>25</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>50:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇴</p>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="garry-bike" src="images/bikes/garry.jpg">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/garry.png" alt="" style="width:52%">
          <ul class="facts">
            <h2 class="name">Garry </h2>
            <p><strong style="font-family:cursive;">Age: </strong>31</p>
            <p><strong style=
              "font-family:cursive;">Ratio: </strong>48:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇩🇴</p>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="panda-bike" src="images/bikes/panda-bike.png">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/panda.png" alt="" style="width:52%;height:20em;">
          <ul class="facts">
            <h2 class="name">Panda </h2>
            <p><strong style="font-family:cursive;">Age: </strong>28</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>48:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇺</p>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="david-bike" src="images/bikes/david.jpg" alt="bike" style="width:100%;">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/david.png" alt="" style="width:50%; height:20em;">
          <ul class="facts">
            <h2 class="name">David</h2>
            <p><strong style="font-family:cursive;">Age: </strong>24</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>53:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇺</p>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="victor-bike" src="images/bikes/victor-bike.png">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/victor.png" alt="victor" style="width:50%; height:20em;">
          <ul class="facts">
            <h2 class="name">Victor</h2>
            <p><strong style="font-family:cursive;">Age: </strong>28</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>49:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇴</p>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="gene-bike"src="images/bikes/gene-bike.jpeg">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/gene.jpg" alt="" style="width:50%">
          <ul class="facts">
            <h2 class="name">Gene</h2>
            <p><strong style="font-family:cursive;">Age: </strong>25</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>49:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇺</p>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="luis-bike"src="images/bikes/luis-bike.png">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/luis.png" alt="" style="width:50%; height:20em;">
          <ul class="facts">
            <h2 class="name">Luis</h2>
            <p><strong style="font-family:cursive;">Age: </strong>30</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>48:16</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇺</p>
          </ul>
        </div>
      </div>
    </div>
  </div>


</div>
<br><br><br>





  </body>
</html>

<style>
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);



  .container.second-portion {
  margin-top: 92%;
}
body {
  background-image:url("images/sativa.png") !important;
}
footer {
  display: none;
}
</style>
