<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>

      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <script type="application/x-javascript">
      addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
      </script>
  </head>
  <body>


<br><br><br>
<h1 class="header-title2"><span style="color:#00bfff;">The</span> Squad </h1>
<hr style="width:250px; padding-bottom:10px">
<br>

<div class="row" style="margin-left:30px; float:left">
  <div class="column">
    <div class="card">
      <img src="images/avatar/me-head.png" alt="tommy" style="width:25%">
      <img class="avi" src="images/bikes/me.jpg" alt="bike" style="width:50%">
      <div class="container">
        <h2 class="name"> Tommy Roldan </h2>
        <p class="title"> Ninja </p>
      <ul class="facts">
        <p><strong> Age:</strong> 25 </p>
        <p><strong>Bike:</strong> Dolan </p>
        <p><strong>Ratio:</strong> 49x15 </p>
      </ul>
      <button class="button"> Bang </button>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="images/avatar/garry.png" alt="garry" style="width:25%">
      <img class="avi" src="images/bikes/garry.jpg" alt="bike" style="width:50%;">
      <div class="container">
        <h2 class="name"> Garry Rodriguez </h2>
        <p class="title"> Tigre </p>
      <ul class="facts">
        <p><strong> Age:</strong> ? </p>
        <p><strong>Bike:</strong> Unknown </p>
        <p><strong>Ratio:</strong> ? </p>
      </ul>
        <p><button class="button"> TouchMe </button></p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="images/avatar/panda.png" alt="panda" style="width:25%">
      <img class="avi" src="images/bikes/panda.jpg" alt="bike" style="width:50%;">
      <div class="container">
        <h2 class="name"> Ralph Vigo </h2>
        <p class="title"> Panda </p>
      <ul class="facts">
        <p><strong> Age:</strong> ? </p>
        <p><strong>Bike:</strong> Aventon Team </p>
        <p><strong>Ratio:</strong> 48x15 </p>
      </ul>
        <p><button class="button"> Hi </button></p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="images/avatar/david.png" alt="" style="width:25%">
      <img class="avi" src="images/bikes/david.jpg" alt="bike" style="width:50%;">
      <div class="container">
        <h2 class="name"> David Lao </h2>
        <p class="title"> Certified Stoner</p>
      <ul class="facts">
        <p><strong> Age:</strong> ? </p>
        <p><strong>Bike:</strong> Cinelli </p>
        <p><strong>Ratio:</strong> ? </p>
      </ul>
        <p><button class="button"> Metal </button></p>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="card">
      <img src="images/avatar/victor.png" alt="victor" style="width:25%">
      <div class="container">
        <h2 class="name"> Victor Tapia </h2>
        <p class="title"> Chino Cochino </p>
        <ul class="facts">
        <p><strong> Age:</strong> ? </p>
        <p><strong>Bike:</strong> Planet X </p>
        <p><strong>Ratio:</strong> ? </p>
      </ul>
        <p><button class="button"> Chino </button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/avatar/gene.jpg" alt="gene" style="width:25%">
      <img class="avi"src="images/bikes/gene-bike.jpeg" alt="bike" style="width:50%">
      <div class="container">
        <h2 class="name"> Gene Abreu </h2>
        <p class="title"> Pokemon Champ </p>
      <ul class="facts">
        <p><strong> Age:</strong> ? </p>
        <p><strong>Bike:</strong> Bianchi Pista </p>
        <p><strong>Ratio:</strong> 49x15 </p>
      </ul>
        <p><button class="button"> Bang </button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="images/avatar/luis.png" alt="gene" style="width:25%">
      <img class="avi"src="images/bikes/luis-bike.png" alt="bike" style="width:50%">
      <div class="container">
        <h2 class="name"> Luis Carricaburu </h2>
        <p class="title"> BBQ Specialist </p>
      <ul class="facts">
        <p><strong> Age:</strong> 30 </p>
        <p><strong>Bike:</strong> State </p>
        <p><strong>Ratio:</strong> 48x16 </p>
      </ul>
        <p><button class="button"> Qbola </button></p>
      </div>
    </div>
  </div>

</div>
<br>
<br>

<h1 class="header-title2"><span style="color:#00bfff;">Film</span> Squad </h1>
<br><br>
<div class="row2">
  <div class="column">
    <div class="card">
      <img src="images/avatar/anwar.png" alt="test" style="width:25%">
      <img class="avi" src="images/bikes/war-bike.png" alt="bike" style="width:50%">
      <div class="container">
        <h2 class="name"> Anwar Rahman </h2>
        <p class="title"> Film </p>
      <ul class="facts">
        <p><strong> Age:</strong> 27 </p>
        <p><strong>Bike:</strong> ? </p>
        <p><strong>Ratio:</strong> ? </p>
      </ul>
      <button class="button"> Patty </button>
      </div>
    </div>
  </div>

    <div class="column">
      <div class="card">
        <img src="images/avatar/kevin.png" alt="test" style="width:25%">
        <img class="avi" src="images/bikes/test.jpg" alt="bike" style="width:50%">
        <div class="container">
          <h2 class="name"> Kevin Baeza </h2>
          <p class="title"> Film </p>
        <ul class="facts">
          <p><strong> Age:</strong> 19 </p>
          <p><strong>Bike:</strong> Specialized Venge </p>
          <p><strong>Ratio:</strong> Roadie </p>
        </ul>
        <button class="button"> Start! </button>
        </div>
      </div>
    </div>


</div>



  </body>
</html>

<style>
  .container.second-portion {
  margin-top: 92%;
}
body {
  background-image:url("images/sativa.png") !important;
}
footer {
  display: none;
}
</style>
