<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>

    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <a href="/"> Home </a>
    <a href="/about"> About </a>

    <h1> SQUAAAAAAD </h1>


<div class="main-cont">

  <div class="tommy">
    <h2> Tommy </h2>
    <p> This is Tommy. </p>
    <img class="tommy-pic" src="/images/me.jpg">
  </div>

  <hr>

  <div class="cuco">
    <h2> Garry </h2>
    <p> Meet Garry, El Cuco. </p>
    <img class="cuco-pic" src="/images/garry.jpg">
  </div>

  <hr>

  <div class="panda">
    <h2> Ralph </h2>
    <p> The one and only, Panda. </p>
    <img class="panda-pic" src="/images/panda.jpg">
  </div>

  <hr>

  <div class="gene">
    <h2> Gene </h2>
    <p> Meet Papa Gene, aka Ash. </p>
    <!-- <img src="/images/gene.jpg"> -->
  </div>

  <hr>

  <div class="vic">
    <h2> Victor </h2>
    <p> Meet Victor, the Asian/Colombian </p>
  </div>

  <hr>

  <div class="david">
    <h2> David </h2>
    <p> Meet David, AKA HeavyMetal </p>
    <img class="david-pic" src="/images/david.jpg">
  </div>

</div>







  </body>
</html>
