<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>

    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <a href="/"> Home </a>
    <a href="/about"> About </a>

    <h1> SQUAAAAAAD </h1>


<div class="main-cont">
    <div class="tommy">
      <h2> Tommy </h2>
    <div class="avatar">

  </div>
  <p><strong> Tiki Taka?</strong> </p>

  <ul>
    <p><strong> Age:</strong> 25 </p>
    <p><strong>Ride:</strong> Dolan </p>
    <p><strong>Ratio:</strong> 49x15 </p>
  </ul>
</div>
    <img class="tommy-pic" src="/images/me.jpg">
  <hr>

  <div class="cuco">
    <h2> Garry </h2>
    <div class="avatar">
    </div>
    <ul>
      <p><strong> Age:</strong> 30 </p>
      <p><strong>Ride:</strong> Uknown </p>
      <p><strong>Ratio:</strong> 53x16 </p>
    </ul>
    <img class="cuco-pic" src="/images/garry.jpg">
  </div>

  <hr>

  <div class="panda">
    <h2> Ralph </h2>
    <div class="avatar">
    </div>
    <ul>
      <p><strong>Age:</strong> ? </p>
      <p><strong>Ride:</strong> Aventon Diamond </p>
      <p><strong>Ratio:</strong> 48x15 </p>
      <p>
    </ul>
    <img class="panda-pic" src="/images/panda.jpg">
  </div>

  <hr>

  <div class="gene">
    <h2> Gene </h2>
    <div class="avatar">
    </div>
    <ul>
      <p><strong> Age:</strong> 26 </p>
      <p><strong>Ride:</strong> Bianchi </p>
      <p><strong>Ratio:</strong> 49x15 </p>
    </ul>    <!-- <img src="/images/gene.jpg"> -->
  </div>

  <hr>

  <div class="vic">
    <h2> Victor </h2>
    <div class="avatar">
    </div>
    <ul>
      <p><strong> Age:</strong> ? </p>
      <p><strong>Ride:</strong> Planet X </p>
      <p><strong>Ratio:</strong> 48x15 </p>
    </ul>
  </div>

  <hr>

  <div class="david">
    <h2> David </h2>
    <div class="avatar">
    </div>
    <ul>
      <p><strong> Age:</strong> ? </p>
      <p><strong>Ride:</strong> Cinelli </p>
      <p><strong>Ratio:</strong> 52x15 </p>
    </ul>    <img class="david-pic" src="/images/david.jpg">
  </div>

</div>







  </body>
</html>
