<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    </title>

      <link rel="stylesheet" href="css/style.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <script type="application/x-javascript">
      addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
      }, false);

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
      </script>
  </head>
  <body>


<br><br><br>

<!-- Team starts here -->
<h1 style="font-family:'Bree Serif', arial; font-weight:bold; font-size:30px;" class="header-title2"><span style="color:#00bfff;">The</span> Squad </h1>
<br>








<div class="row">
  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="" src="images/bikes/me.jpg" alt="bike" style="width:100%;">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/me-head.png" alt="" style="width:48%;">
          <ul class="facts">
            <h2 class="name">Tommy </h2>
            <p><strong style="font-family:cursive;">Age: </strong>25</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>50:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇴</p>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="" src="images/bikes/garry.jpg" alt="" style="width:100%;">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/garry.png" alt="" style="width:52%">
          <ul class="facts">
            <h2 class="name">Garry </h2>
            <p><strong style="font-family:cursive;">Age: </strong>31</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>48:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇩🇴</p>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="" src="images/bikes/panda-bike.png" alt="bike" style="width:100%; top: 5px;">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/panda.png" alt="" style="width:52%">
          <ul class="facts">
            <h2 class="name">Panda </h2>
            <p><strong style="font-family:cursive;">Age: </strong>28</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>48:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇺</p>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="" src="images/bikes/david.jpg" alt="bike" style="width:100%;">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/david.png" alt="" style="width:50%">
          <ul class="facts">
            <h2 class="name">David</h2>
            <p><strong style="font-family:cursive;">Age: </strong>24</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>53:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇺</p>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class="" src="images/bikes/david.jpg" alt="bike" style="width:100%;">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/victor.png" alt="victor" style="width:50%">
          <ul class="facts">
            <h2 class="name">Victor</h2>
            <p><strong style="font-family:cursive;">Age: </strong>28</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>49:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇴</p>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class=""src="images/bikes/gene-bike.jpeg" alt="" style="width:100%">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/gene.jpg" alt="" style="width:50%">
          <ul class="facts">
            <h2 class="name">Gene</h2>
            <p><strong style="font-family:cursive;">Age: </strong>25</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>49:15</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇺</p>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="column">
    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
      <div class="flipper">
        <div class="front">
          <!-- front content -->
          <img class=""src="images/bikes/luis-bike.png" alt="" style="width:100%">
        </div>
        <div class="back">
          <!-- back content -->
          <img src="images/avatar/luis.png" alt="" style="width:50%">
          <ul class="facts">
            <h2 class="name">Luis</h2>
            <p><strong style="font-family:cursive;">Age: </strong>30</p>
            <p><strong style="font-family:cursive;">Ratio: </strong>48:16</p>
            <p><strong style="font-family:cursive;">Born in: </strong>🇨🇺</p>
          </ul>
        </div>
      </div>
    </div>
  </div>




</div>
<br><br><br>


<!-- Homies starts here -->

<h1 class="header-title2"><span style="color:#00bfff; font-weight: bold; font-family: cursive;">Homies</span> Squad </h1>









  </body>
</html>

<style>
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);


  .container.second-portion {
  margin-top: 92%;
}
body {
  background-image:url("images/sativa.png") !important;
}
footer {
  display: none;
}
</style>
