body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333 !important;
  color: white;
}

/*navbar starts here*/
nav {
    display: table;
    border-bottom: 1px solid #00bfff;
    background-color: #333;
    padding-bottom: 1.45em !important;
    padding-top: 0.5em;
}

.navbar-brand {
  color: #00bfff !important;
  transition: 0.3s ease;

}

.navbar-brand:hover {
  padding: 20px 10px;
  background-color: #00bfff !important;
  color: black !important;
}


nav ul {
    display: table-row;
	  position: relative;
    margin-left: 0;
    padding: 0;
    z-index: 1;
    margin-top: 5px;
}
nav ul a {
	display: block;
	color: #00bfff;
	text-decoration: none;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
  position: relative;
  font-weight: 200;
}


nav ul li {
	position: relative;
  display: inline-block;
  display: table-cell;
  width: 15em;
	list-style-type: none;
	text-align: center;
  left: 13em;
}

ol li {
  position: relative;
  left: 20px !important;
  text-align: center;
}

nav ol li.pg a {
  position: relative;
  text-align: center;
  right: 2.7em !important;}

nav ol li.pg:hover {
  background-color: #00bfff;
  width: 9.3em;
}

nav ul li:hover {
	background-color: #00bfff;
  width: 15em;
}

nav ul li:hover a {
    color: white;
}


nav ul ol{
	display: none;
	position: absolute;
	background: rgba(0,0,0,0.6);
    width: 100%;
    padding-top: 2.7em;
}
/*this is ^^ the galler*/

nav ul ol li {
	width: 100%;
    display: inline-block;
}

nav ul li:hover > ol {
	display: block;
}
/*.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: black;
}

.nav > li {
position: relative;
left: 200px;
color: white;

}

.navbar-default .navbar-nav>li>a {
  color: #00bfff !important;
  transition: 0.3s ease;
  padding: 15px;
  margin: 0 15px;
  text-align: center;
}

.navbar-default .navbar-form {
  padding-right: 20px !important;
}

.navbar-nav>li>a:hover {
  border-left: 3px solid #00bfff;
  border-right: 3px solid #00bfff;
  color: white !important;
}

.dpdwn ol{
    display: none;
    color: #00bfff !important;
    transition: 0.3s ease;
    padding: 15px;
    margin: 0 15px;
    text-align: center;
    background-color: black;

}
.dpdwn:hover ol {
    display:block;
    border-left: 3px solid #00bfff;
    border-right: 3px solid #00bfff;
    color: white !important;
}


.navbar-brand {
  color: #00bfff !important;
  transition: 0.3s ease;

}

.navbar-brand:hover {
  padding: 20px 10px;
  background-color: #00bfff !important;
  color: black !important;
}*/
/*navbar ends here*/



/*index starts here*/
.jumbotron {
  width: 100%;
  text-align: center;
  background-image: ur('/images/logo.jpg') !important;
  margin-top: 10px;
  margin-bottom: -30px !important;
}


/*-------------- Video section  --------------*/
#video-sec {
  background: url('https://www.youtube.com/watch?v=qIH0egHV4u') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
    text-align: center;
  position: relative;
    color: #fff;
}

#video-sec2 {
  background: url('https://www.youtube.com/watch?v=zJcB2DMz-qQ') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  color: #fff;
}

.modal-title {
  text-align: center !important;
  margin-left: 2em !important;
  color: salmon;
}

.modal-header {
  min-height: 16.43px;
  padding: 15px;
  border-bottom: 1px solid #00bfff;
  background-color: #e5e5e5
}

.modal-body {
  position: relative;
  padding: 15px;
  background-color: #ffff;
  font-size: 1rem;
  background-color: #e5e5e5

}


.modal-content {
  width: 700px !important;
  height: 650px !important;
}

.modal-content2 {
  width: 700px !important;
  height: 650px !important;
}

#video-sec .overlay {
  background: rgba(03,03,03,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 10px;
}

#video-sec  h2 {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 16px;
}

#video-sec small{
    color: #fff;
    display: block;
    margin-top: 10px;
}

#video-sec .fa {
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  font-size: 28px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin-top: 22px;
}





/*-- index-services --*/
.about-header-top{
	background: rgba(0, 0, 0, 0.7) !important;
}
.services {
    padding: 2em 0;
    background: #FFFFFF;
}
.w3layouts-services-heading{
	text-align:center;
}
.w3layouts-services-heading h2,.w3-agileits-rides-heading h3,.w3-training-heading h3,.agileits-about-top-heading h3,.w3layouts-contact-form-top h3,.contact-form-top h3,.w3agile-map h3,.agileits_three_comments h3,.w3_leave_comment h3{
	color: #00bfff;
    font-size: 2em;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.w3-services-grids {
    margin: 4em 0 0 0;
}
.w3l-services-grid{
	text-align:center;
}
.w3ls-services-img i.fa.fa-male,.w3ls-services-img i.fa.fa-bicycle,.w3ls-services-img i.fa.fa-cog,.w3ls-services-img i.fa.fa-angle-double-down, i.fa.fa-wrench{
    width: 90px;
    height: 90px;
    color: #dadfe2;
    font-size: 4em;
    padding: .2em 0 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits-services-info h4{
    color: #000000;
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.agileits-services-info p{
	color:#999999;
	font-size:.9em;
	line-height:1.8em;
	margin:0;
}
.w3l-services-grid:hover div.w3ls-services-img i.fa.fa-male,.w3l-services-grid:hover div.w3ls-services-img i.fa.fa-bicycle,.w3l-services-grid:hover div.w3ls-services-img i.fa.fa-cog,.w3l-services-grid:hover div.w3ls-services-img i.fa.fa-angle-double-down,.w3l-services-grid:hover div.w3ls-services-img i.fa.fa-wrench{
    background: #00bfff;
    padding: .9em 0 0 0;
    width: 90px;
    height: 90px;
    color: #FFFFFF;
    font-size: 2em;
}
/*-- //services --*/












	/* Conatct start */


        .header-title
        {
          text-align: center;
          color:#00bfff;
        }

        .header-title2 {
          text-align: center;
          color: black;

        }

        #tip
        {
            display:none;
        }

        .fadeIn
        {
          animation-duration: 3s;
        }

        .form-control
        {
        	border-radius:0px;
        	border:1px solid #EDEDED;
        }

        .form-control:focus
        {
        	border:1px solid #00bfff;
        }

        .textarea-contact
        {
        	resize:none;
        }

        .btn-send
        {
        	border-radius: 0px;
        	border:1px solid #00bfff;
        	background:#00bfff;
        	color:#fff;
        }

        .btn-send:hover
        {
        	border:1px solid #00bfff;
        	background:#fff;
        	color:#00bfff;
        	transition:background 0.5s;
        }

        .second-portion
        {
        	margin-top:50px;
          background-color: #00bfff;
          padding-top: 10px;
        }

		        @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
		@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

		.box > .icon { text-align: center; position: relative; }
		.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00bfff; vertical-align: middle; }
		.box > .icon:hover > .image { background: #333; }
		.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
		.box > .icon:hover > .image > i { color: white !important; }
		.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.06); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
		.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
		.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #fff; font-weight: 700; }
		.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #fff; line-height: 1.5em; margin: 20px;}
		.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
		.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
		.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
		.box .space { height: 30px; }

		@media only screen and (max-width: 768px)
		{
			.contact-form
			{
				margin-top:25px;
			}

      #form.col-sm-6 {
        padding-top: 15px !important;
        background-color: rgba(255, 255, 255, 0.2) !important;
      }

			.btn-send
			{
				width: 100%;
				padding:10px;
			}

			.second-portion
			{
				margin-top:25px;
			}
		}
	/* Conatct end */

/*index ends*/

ul.social {
  margin-left: 45px;
}


.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 10px 30px 0px 12px;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}

ul {
  list-style: none;
  text-align: center;
}


section {
  padding-top: 1px;
  padding-bottom: 1px;
}

section .contact-uss {
  background-image: url("images/swag.jpg");
  background-size: cover;
}

a {
  color: #00B7FF;
}

.logo {
  width: 500px;
  height: 500px;
}

nav {
  padding-left: 5px;
  text-align: center;
  padding-bottom: 10px;
  width: 100%;
}

.home-cont {
  border: 3px solid orange;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-cont {
  width: 30%;
  height: 400px;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  margin-right: 150px;
  margin-top: 75px;
  background-color: rgba(0,0,0,0.5);
}

.main-cont {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}


h4 {
  padding-top: 30px;
  color: orange;
  text-align: center;
}

p.about-data {
  text-align: center;
  color: white;
  padding-top: 30px;
}


.about-tit {
  text-align: center;
  color: #00bfff;
  margin-top: 70px;
}

.carousel-container {
  height: 452px;
  width: 47% !important;
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}

/*TEAM SQUAD bike sizes*/
.panda-bike {
  width: 100%;
  height: 24em;
}

.tommy-bike {
  width: 100%;
  height: 20em;
}

.garry-bike {
  width: 100%;
  height: 20em;
}

.david-bike {
  width: 100%;
  height: 20em;
}

.victor-bike {
  width: 100%;
  height: 20em;
}

.gene-bike {
  width: 100%;
  height: 20em;
}

.luis-bike {
  width: 100%;
  height: 20em;
}

/* TEAM RIDERS ends ^^^ here */

/* flip test */
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
  width: 30em;
  height: 20em;
  margin-top: 2em;
  margin-left: 1em;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
  background-color: black;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  background-color: black;
}



/* flip ends here */





.column {
    width: 33% !important;
    margin-bottom: 16px;
    padding: 0 8px;
    display: inline-block;
}






/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
/* media ends here ^ */





h2.name {
  color: #00bfff !important;
  font-family: "Permanent Marker", "cursive";
}

ul.facts {
  font-family: "bee sarif", "cursive";
  background-color: black;
  color: white; !important;
  float: right;
  text-align: left;
  margin-right: 15% !important;

}

html {
box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*squad ends*/

/*film starts here*/

.toolbar {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
}

.film-header {
  width: 30em;
  text-align: center;
  color: salmon;
  margin-left: 35em;
}

#portfolio {
    margin: 1em 0;
    margin-top: 30px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
.tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
.tile:hover {
}

.tile img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;

}

.scale-anm {
  transform: scale(1);
}



.btn {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    color: salmon;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold !important;
    border: 1px dotted #FFF !important;
}

.btn:hover {
  text-decoration: none;
  background-color: #00bfff;
  color: #FFF !important;
  border: 1px solid #FFF !important;

}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*film ends here*/


/*footer starts here*/

.footer-distributed{
	background-color: #333;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px;
  border-top: 1px solid #00bfff;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


/*footer ends here*/

/* MEMBERS VIEW STARTS HERE */
/* DRPOP ZONE */

.file-loading {
  background-color: transparent;
  text-align: center;
  width: 25%;
  margin-left: 5%;
  margin-top: 2em;
}

.file-input.file-input-new {
width: 70%;
margin-left: 1.5%;
margin-top: 1em;
}

.input-group.file-caption-main {
width: 70%;
margin-left: 5%;
margin-top: 1em;
}

.file-drop-disabled {
  background-color: rgba(255, 255, 255, 0.5);
}

.file-caption-info {
  color: green;
}
.file-size-info {
  color: salmon;;
}

.members-rules {
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  margin-right: 2em;
  margin-top: 2em;
  background-color: rgba(0,0,0,0.5);
  text-align: center;
  color: mediumseagreen;
}

.members ul {
  list-style: armenian;
}


/* NEW NEW */

.wrapper  {
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  width: 360px;
  max-width: 100%;
  margin: 50px auto;
  align-self: center;
  box-sizing: border-box;
}

header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: flex;
}
h1 {
  flex: 1;
  padding: 0;
  margin: 0;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #7A7B7F;
}
header span {
  flex: 1;
  text-align: right;
  font-size: 12px;
  color: #999;
}
.ways ul {
  display: flex;
  list-style: none;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
}
.ways li {
  align-self: center;
  flex: 1;
  background-color: #F5F7FA;
  text-align: center;
  cursor: pointer;
  padding: 15px 0;
  color: #999;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
  border: 1px solid #ddd;
}

.ways li:first-child {
  border-right: 0;
}
.ways li:last-child {
  border-left: 0;
}
.ways li.active {
  border: 2px solid #1AA1E5;
  color: #66676C;
}
.ways li.active::before {
  content: '\f00c';
  font-family: 'fontawesome';
  color: #1AA1E5;
}
.ways li:not(.active) {
  padding: 16px 0;
}
section {
  display: none;
}
section.active {
  display: block;
}
section input,
section textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  outline: 0;
  background-color: #F5F7FA;
  padding: 10px;
  margin-bottom: 10px;
  letter-spacing: 1.4px;
}
section textarea {
  min-height: 200px;
}
section select {
  display: none;
}

.select-option {
  background-color: #F5F7FA;
  color: #999;
  font-size: 15px;
  position: relative;
  cursor: pointer;
}
.select-option::before {
  content: '\f107';
  font-family: 'fontawesome';
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 9px;
  margin-right: 10px;
  font-size: 20px;
}
.select-option div:not(.option) {
  padding: 10px 10px;
  border: 1px solid #ddd;
}
.select-option div:last-child,
.select-option .head {
  border-bottom: 1px solid #ddd;
}
.select-option .option {
  display: none;
}
.select-option .option div {
  text-transform: capitalize;
}
.select-option.active .option {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #F5F7FA;
  box-sizing: border-box;
  padding: 0;
  margin-top: -1px;
  z-index: 2;
}
.select-option .option div {
  border-bottom: 0;
}
.images {
  display: flex;
  flex-wrap:  wrap;
  margin-top: 20px;
}
.images .img,
.images .pic {
  flex-basis: 31%;
  margin-bottom: 10px;
  border-radius: 4px;
}
.images .img {
  width: 112px;
  height: 93px;
  background-size: cover;
  margin-right: 10px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.images .img:nth-child(3n) {
  margin-right: 0;
}
.images .img span {
  display: none;
  text-transform: capitalize;
  z-index: 2;
}
.images .img::after {
  content: '';
  width: 100%;
  height: 100%;
  transition: opacity .1s ease-in;
  border-radius: 4px;
  opacity: 0;
  position: absolute;
}
.images .img:hover::after {
  display: block;
  background-color: #000;
  opacity: .5;
}
.images .img:hover span {
  display: block;
  color: #fff;
}
.images .pic {
  background-color: #F5F7FA;
  align-self: center;
  text-align: center;
  padding: 40px 0;
  text-transform: uppercase;
  color: #848EA1;
  font-size: 12px;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .wrapper {
    margin-top: 0;
  }
  header {
    flex-direction: column;
  }
  header span {
    text-align: left;
    margin-top: 10px;
  }
  .ways li,
  section input,
  section textarea,
  .select-option .head,
  .select-option .option div {
   font-size: 8px;
  }
  .images .img,
  .images .pic {
    flex-basis: 100%;
    margin-right: 0;
  }
}

.wrapper footer ul {
  margin: 0;
  margin-top: 30px;
  display: flex;
  list-style: none;
  padding: 0;
}
.wrapper footer ul li {
  flex: 1;
}
.wrapper footer li span {
  text-transform: capitalize;
  cursor: pointer;
}
.wrapper footer li:first-child {
  color: #999;
  text-align: left;
  font-size: 12px;
}
.wrapper footer li:first-child span {
  display: inline-block;
  border-bottom: 1px solid #ddd;
}
.wrapper footer li:last-child {
  text-align: right;
}
.wrapper footer li:last-child span {
  background-color: #22A4E6;
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
}

.notification {
  position: absolute;
  left: 20px;
  bottom: 20px;
  top: auto;
  right: auto;
}

.notification p {
  margin: 0;
  padding: 0;
}
.notification .btn {
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  margin-bottom: 10px;
  font-size: 12px;
  align-items: center;
  animation: fadeIn .4s ease-in;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.notification .btn::before {
  margin-right: 12px;
  font-family: 'fontawesome';
  font-size: 15px;
}
.notification span {
  margin-left: 10px;
  cursor: pointer;
  flex: 1;
  text-align: right;
}

.notification .error {
  background-color: #ECC8C5;
  border: 1px solid #BD8181;
}
.notification .error span {
  color: #C79995;
}
.notification .error::before {
  content: '\f05c';
  color: #B2312F;

}
.notification .success {
  background-color: #DEF2D6;
  border: 1px solid #B3CEA9;
}
.notification .success span {
  color: #AFC7A7;
}
.notification .success::before {
  content: '\f00c';
  color: #5A7052;
}





/* ENDS DROP ZONE */
/* MEMBERS VIEW ENDS HERE */



/* AUTH VIEWS */
.container2 {
  margin-top: 5%;
  text-align: center;
}

#loginform {
  color: white;
  padding-bottom: 13%;
  padding-top: 1%
}

#username-input {
  color: black;
}

#password-input {
  color: black;
}


/* SIGNUP VIEW */
.container3 {
  margin-top: 5%;
  text-align: center;
}
