body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #333 !important;
  color: white;
}

/*navbar starts here*/

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: black;
}

.nav > li {
position: relative;
left: 200px;
color: white;

}

.navbar-default .navbar-nav>li>a {
  color: #00bfff !important;
  transition: 0.3s ease;
  padding: 15px;
  margin: 0 15px;
  text-align: center;
}

.navbar-default .navbar-form {
  padding-right: 20px !important;
}

.navbar-nav>li>a:hover {
  border-left: 3px solid #00bfff;
  border-right: 3px solid #00bfff;
  color: white !important;
}


.navbar-brand {
  color: #00bfff !important;
  transition: 0.3s ease;

}

.navbar-brand:hover {
  padding: 20px 10px;
  background-color: #00bfff !important;
  color: black !important;
}
/*navbar ends here*/



/*index starts here*/
.jumbotron {
  width: 100%;
  text-align: center;
  background-image: ur('/images/logo.jpg') !important;
  margin-top: 10px;
  margin-bottom: -30px !important;
}


/*-------------- Video section  --------------*/
#video-sec {
  background: url('https://www.youtube.com/watch?v=qIH0egHV4u') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
    text-align: center;
  position: relative;
    color: #fff;
}

#video-sec2 {
  background: url('https://www.youtube.com/watch?v=zJcB2DMz-qQ') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  text-align: center;
  position: relative;
  color: #fff;
}



.modal-content {
  width: 700px !important;
  height: 650px !important;
}

#video-sec .overlay {
  background: rgba(03,03,03,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 10px;
}

#video-sec h2 {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 16px;
}

#video-sec small{
    color: #fff;
    display: block;
    margin-top: 10px;
}

#video-sec .fa {
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #ffffff;
  font-size: 28px;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin-top: 22px;
}





/*-- index-services --*/
.about-header-top{
	background: rgba(0, 0, 0, 0.7) !important;
}
.services{
    padding: 4em 0;
    background: #FFFFFF;
}
.w3layouts-services-heading{
	text-align:center;
}
.w3layouts-services-heading h2,.w3-agileits-rides-heading h3,.w3-training-heading h3,.agileits-about-top-heading h3,.w3layouts-contact-form-top h3,.contact-form-top h3,.w3agile-map h3,.agileits_three_comments h3,.w3_leave_comment h3{
	color: #00bfff;
    font-size: 2em;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.w3-services-grids {
    margin: 4em 0 0 0;
}
.w3l-services-grid{
	text-align:center;
}
.w3ls-services-img i.fa.fa-male,.w3ls-services-img i.fa.fa-bicycle,.w3ls-services-img i.fa.fa-cog,.w3ls-services-img i.fa.fa-angle-double-down, i.fa.fa-wrench{
    width: 90px;
    height: 90px;
    color: #dadfe2;
    font-size: 4em;
    padding: .2em 0 0 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits-services-info h4{
    color: #000000;
    font-size: 1.2em;
    margin: 1em 0;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.agileits-services-info p{
	color:#999999;
	font-size:.9em;
	line-height:1.8em;
	margin:0;
}
.w3l-services-grid:hover div.w3ls-services-img i.fa.fa-male,.w3l-services-grid:hover div.w3ls-services-img i.fa.fa-bicycle,.w3l-services-grid:hover div.w3ls-services-img i.fa.fa-cog,.w3l-services-grid:hover div.w3ls-services-img i.fa.fa-angle-double-down,.w3l-services-grid:hover div.w3ls-services-img i.fa.fa-wrench{
    background: #00bfff;
    padding: .9em 0 0 0;
    width: 90px;
    height: 90px;
    color: #FFFFFF;
    font-size: 2em;
}
/*-- //services --*/












	/* Conatct start */

        .header-title
        {
          text-align: center;
          color:#00bfff;
        }

        .header-title2 {
          text-align: center;
          color: black;
        }

        #tip
        {
            display:none;
        }

        .fadeIn
        {
          animation-duration: 3s;
        }

        .form-control
        {
        	border-radius:0px;
        	border:1px solid #EDEDED;
        }

        .form-control:focus
        {
        	border:1px solid #00bfff;
        }

        .textarea-contact
        {
        	resize:none;
        }

        .btn-send
        {
        	border-radius: 0px;
        	border:1px solid #00bfff;
        	background:#00bfff;
        	color:#fff;
        }

        .btn-send:hover
        {
        	border:1px solid #00bfff;
        	background:#fff;
        	color:#00bfff;
        	transition:background 0.5s;
        }

        .second-portion
        {
        	margin-top:50px;
          background-color: #00bfff;
          padding-top: 10px;
        }

		        @import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
		@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

		.box > .icon { text-align: center; position: relative; }
		.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #00bfff; vertical-align: middle; }
		.box > .icon:hover > .image { background: #333; }
		.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
		.box > .icon:hover > .image > i { color: white !important; }
		.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.06); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; min-height:163px;}
		.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
		.box > .icon > .info > h3.title { font-family: "Robot",sans-serif !important; font-size: 16px; color: #fff; font-weight: 700; }
		.box > .icon > .info > p { font-family: "Robot",sans-serif !important; font-size: 13px; color: #fff; line-height: 1.5em; margin: 20px;}
		.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
		.box > .icon > .info > .more a { font-family: "Robot",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
		.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #63B76C; }
		.box .space { height: 30px; }

		@media only screen and (max-width: 768px)
		{
			.contact-form
			{
				margin-top:25px;
			}

      #form.col-sm-6 {
        padding-top: 15px !important;
        background-color: rgba(255, 255, 255, 0.2) !important;
      }

			.btn-send
			{
				width: 100%;
				padding:10px;
			}

			.second-portion
			{
				margin-top:25px;
			}
		}
	/* Conatct end */

/*index ends*/

ul.social {
  margin-left: 45px;
}


.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 10px 30px 0px 12px;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid #2c3e50;
	background: #2c3e50;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}

ul {
  list-style: none;
  text-align: center;
}


section {
  padding-top: 30px;
  padding-bottom: 30px;
}

section .contact-uss {
  background-image: url("images/swag.jpg");
  background-size: cover;
}

a {
  color: #00B7FF;
}

.logo {
  width: 500px;
  height: 500px;
}

nav {
  padding-left: 5px;
  text-align: center;
  padding-bottom: 10px;
}

.home-cont {
  border: 3px solid orange;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-cont {
  width: 30%;
  height: 400px;
  padding-left: 10px;
  float: right;
  margin-right: 150px;
  margin-top: 75px;
  background-color: rgba(0,0,0,0.5);
}

.main-cont {
  border: 1px solid white;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.tommy-pic {
  width: 700px;
  height: 500px;
}

.cuco-pic {
  width: 700px;
  height: 500px;
}

.panda-pic {
  width: 700px;
  height: 580px;
}

.david-pic {
  width: 700px;
  height: 500px;
}

h4 {
  padding-top: 30px;
  color: orange;
  text-align: center;
}

p.about-data {
  text-align: center;
  color: white;
  padding-top: 30px;
}


.about-tit {
  text-align: center;
  color: #00bfff;
  margin-top: 70px;
}

.carousel-container {
  height: 452px;
  width: 47% !important;
  float: left;
  margin-top: 50px;
  margin-left: 50px;
}

.avatar {
  border: 1px solid red;
  height: 100px;
  width: 105px;
  border-radius: 100%;
}

.ava-cont {
  border: 1px solid salmon;
  height: 300px;
  width: 500px;
  padding-left: 20px;

}


/*squad*/
/* Three columns side by side */
.column {
    width: 49% !important;
    margin-bottom: 16px;
    padding: 0 8px;
    display: inline-block;
}



img.avi {
  float:right;
  margin-right: 20px;
}

button.button {
  width: 50px !important;
  width: 170px !important;
  position: relative;
  left: 165px;
  top: 25px;
}




/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

h2.name {
  color: white !important;
}

ul.facts {
  color: white !important;
  float: left;
}

html {
box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.9);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: #00bfff;
    margin-left: 25px;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 50px;
}

.button:hover {
    background-color: salmon;
    color: black;
}

/*squad ends*/

/*film starts here*/

.toolbar {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;

}

#portfolio {
    margin: 1em 0;
    margin-top: 30px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
}
.tile {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
.tile:hover {

}

.scale-anm {
  transform: scale(1);
}


.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;

}

.btn {
    font-family: Lato;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #00bfff;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold !important;
    border: 1px dotted #FFF !important;
}

.btn:hover {
  text-decoration: none;
  background-color: #00bfff;
  color: #FFF !important;
  border: 1px solid #FFF !important;

}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*film ends here*/


/*footer starts here*/

/*footer ends here*/
