<link rel="stylesheet" href="css/style.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="https://use.fontawesome.com/1f1f819977.js"></script>
<script src="js/jquery-1.11.0.min.js"></script>






<div class="container2">

<h2 style="font-family:'Permanent Marker', cursive; margin-bottom:30px;color:salmon;"> Log In</h2>

<form id="loginform" method="post" action="/login">
  <label for="username-input"></label>  <span><i aria-hidden="true" class="fa fa-user"></i></span>
  <input id="username-input" type="text" name="loginUsername" placeholder="Ninja">
  <br>
  <br>
  <label for="password-input"></label> <span><i aria-hidden="true" class="fa fa-key"></i></span>
  <input id="password-input" type="password" name="loginPassword" placeholder="******">
  <br>


  <button style="background-color:black; margin-top:20px; color:salmon; font-family:bold;"> Log In </button>
</form>
</div>







<style type="text/css">

@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

body {
  background-image: url("images/sativa.png") !important;
}

footer {
  margin-top: 5em;
}
</style>
